<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>
    <body>
        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form id="analyze-form">
                    <input id="URI" type="text" name="url" placeholder="Enter URL" required>
                    <input type="submit" value="Analyze text">
                </form>
                <p id="error" style="display: none; color: red;"></p>
            </section>

            <section>
                <strong>Form Results:</strong>
                <ul>
                    <li id="agreement" style="display: none;">Agreement: </li>
                    <li id="subjectivity" style="display: none;">Subjectivity: </li>
                    <li id="confidence" style="display: none;">Confidence: </li>
                    <li id="irony" style="display: none;">Irony: </li>
                    <li id="score_tag" style="display: none;">Score Tag: </li>
                </ul>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

        <div id="loader" style="display: none;">Loading...</div>
        <!-- <script src="/js/formHandler.js">
   
        </script> -->
    </body>
</html>